@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: rgb(195, 253, 255);
  background: radial-gradient(
    circle,
    rgba(195, 253, 255, 1) 0%,
    rgba(0, 223, 255, 1) 50%,
    rgba(194, 245, 255, 1) 100%
  );
  font-family: "Poppins", sans-serif !important;
  font-weight: auto;
  font-style: normal;
  font-optical-sizing: auto;
}

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 207, 224, 1) 100%
  );
  box-shadow: 0 4px 6px rgba(42, 42, 42, 0.4); /* Add a subtle shadow for depth */
  text-align: center;
  padding: 0 2em;
  z-index: 100;
}

.left-main-cont {
  background-color: rgb(240, 240, 240);
  border-right: 2px dotted black;
}

label {
  font-size: larger;
  font-weight: bold;
}

.rounded-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.rounded-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rounded {
  border-radius: 20px !important;
}
.right-main-cont {
  background-color: #fff;
}

.table-cont {
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-button div button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #fffcfc;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.search-button button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 20px #03e9f4,
    0 0 40px #03e9f4;
}

.search-button button span {
  position: absolute;
}

.search-button button:hover span:nth-child(1),
.search-button button:hover span:nth-child(2),
.search-button button:hover span:nth-child(3),
.search-button button:hover span:nth-child(4) {
  animation-play-state: paused;
}

.search-button button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1.25s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.search-button a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.search-button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #000000);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.search-button a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #000000);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply backdrop blur effect */
  z-index: 9999;
}

.loader {
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

/* Rest of the loader styling remains the same */

.loader span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.loader span:nth-of-type(1) {
  filter: blur(5px);
}

.loader span:nth-of-type(2) {
  filter: blur(10px);
}

.loader span:nth-of-type(3) {
  filter: blur(25px);
}

.loader span:nth-of-type(4) {
  filter: blur(50px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.select-selected:hover {
  background: rgb(100, 249, 255) !important;
  background: linear-gradient(
    90deg,
    rgba(100, 249, 255, 1) 0%,
    rgba(121, 211, 255, 1) 50%,
    rgba(121, 232, 255, 1) 100%
  ) !important;
}

/*style the arrow inside the select element:*/

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: white;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: black;
  padding: 1rem 0.5rem;

  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;

  left: 15px;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.d-button div a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: rgb(0, 217, 22);
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.d-button a:hover {
  background: #03f43f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f43f, 0 0 10px #03f43f, 0 0 20px #03f43f,
    0 0 40px #03f43f;
}

.d-button a span {
  position: absolute;
}

.d-button a:hover span:nth-child(1),
.d-button a:hover span:nth-child(2),
.d-button a:hover span:nth-child(3),
.d-button a:hover span:nth-child(4) {
  animation-play-state: paused;
}

.d-button a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #04fbff);
  animation: btn-anim1 1.25s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.d-button a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #04fbff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.d-button a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #04fbff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.d-button a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #04fbff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 1s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
